/* css for whole app */
.App {
  text-align: center;
  color:white;
  background-color:grey;
  min-height: 100vh;
}
/* grid container for images */
.grid-image-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  padding-inline-start: 10px;
}
/* look of image items in gird*/
.grid-image-item {
  width: 95%;
  height: 20rem;
  display: block;
  margin: 0px;
  margin-bottom: 0.5rem;
  border: 5px solid #222;
  object-fit: cover;
  cursor: pointer;
}